@{
  Layout = "Shared/_Layout.cshtml";
}

<div class="row">
    <div class="forms">
        <form class="" action="/cuisines" method="post">
            <label for="cuisine-type">Add a cuisine</label>
            <input type="text" name="cuisine-type" id="cuisine">
            <button type="submit" name="button">Add</button>
        </form>
    </div>
</div>
