@{
  Layout = "Shared/_Layout.cshtml";
}

<div class="row">
    <div class="forms">
        <form class="" action="/submit" method="post">
            <label for="cuisine-type"></label>
            <input type="text" name="cuisine-type" id="cuisine">
            <button type="submit" name="button">Add</button>
        </form>
    </div>
</div>
